{% extends 'base.html' %} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.10/index.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js"></script>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		function initializeCalendar(events) {
			var calendarEl = document.getElementById("calendar");
			var calendar = new FullCalendar.Calendar(calendarEl, {
				initialView: "timeGridWeek",
				slotDuration: "00:30:00",
				slotLabelInterval: "02:00:00",
				snapDuration: "00:15:00",
				events: events,
			});

			calendar.render();
		}
		var events = document
			.getElementById("calendar")
			.getAttribute("data-events");
		events = eval(events);
		initializeCalendar(events);
	});
</script>

<div class="container mt-3">
	{% if messages %}
	<div class="simple_flex">
		{% for message in messages %}
		<div class="{{ message.tags }}" style="margin-bottom: 10px">
			<p style="color: white; font-size: 20px; margin-bottom: 0 !important">
				{{ message }}
			</p>
		</div>
		{% endfor %}
	</div>
	{% endif %}
</div>

<div
	style="
		display: flex;
		justify-content: center;
		margin-top: 10px;
		height: 70vh;
		overflow: scroll;
	"
>
	<div style="width: 70%" id="calendar" data-events="{{ events }}"></div>
</div>
<div class="container mt-3">
	{% if page == "views" and not events %}
	<h1 style="text-align: center">
		No view is currently attached or the view is empty.
	</h1>
	{% endif %}

	<div
		class="toggle-buttons mb-3"
		style="display: flex; align-items: center; justify-content: center"
	>
		<button id="showAddSchedule" class="btn btn-secondary">Add Schedule</button>
		<button id="showAddEvent" class="btn btn-secondary">Add Event</button>
		<button id="showDeleteEvent" class="btn btn-secondary">Delete Event</button>
		<button id="showOtherAction" class="btn btn-secondary">
			Other Actions
		</button>
	</div>

	<div class="card mb-4 add-schedule-card opt-card">
		<div class="card-body">
			<h2 class="card-title">Add Schedule</h2>
			<form method="post" action="{% url 'add_schedule' %}">
				{% csrf_token %}
				<div class="form-group">
					<label for="description">Description:</label>
					<input type="text" class="form-control" name="description" required />
				</div>
				<div class="form-group">
					<label for="protection">Protection Level:</label>
					<select class="form-control" name="protection" required>
						<option value="public">Public</option>
						<option value="protected">Protected</option>
						<!-- Add more options as needed -->
					</select>
				</div>
				<button type="submit" class="btn btn-primary">Add Schedule</button>
			</form>
		</div>
	</div>

	<div class="card delete-event-card opt-card">
		<div class="card-body">
			<h2 class="card-title">Add Event</h2>
			<form method="post" action="{% url 'delete_event' %}">
				{% csrf_token %}
				<div class="form-group">
					<label for="schedule_name">Schedule Name:</label>
					<input
						type="text"
						class="form-control"
						name="schedule_name"
						required
					/>
				</div>
				<div class="form-group">
					<label for="event_name">Event Name:</label>
					<input type="text" class="form-control" name="event_name" required />
				</div>
				<button type="submit" class="btn btn-primary">Delete Event</button>
			</form>
		</div>
	</div>

	<div class="card add-event-card opt-card">
		<div class="card-body">
			<h2 class="card-title">Add Event</h2>
			<form method="post" action="{% url 'add_event' %}">
				{% csrf_token %}
				<div class="form-group">
					<label for="schedule_name">Schedule Name:</label>
					<select class="form-control" name="schedule_name" required>
						{% for n in schedule_names %}
						<option value="{{n}}">{{n}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group">
					<label for="event_type">Event Type:</label>
					<select class="form-control" name="event_type" required>
						<option value="MEETING">Meeting</option>
						<option value="SEMINAR">Seminar</option>
						<option value="LECTURE">Lecture</option>
						<option value="APPOINTMENT">Appointment</option>
						<option value="OFFICEHOUR">Office Hour</option>
						<option value="FUN">Fun</option>
					</select>
				</div>

				<div class="form-group">
					<label for="start_time">Start Time:</label>
					<input
						type="datetime-local"
						class="form-control"
						name="start_time"
						required
					/>
				</div>
				<div class="form-group">
					<label for="end_time">End Time:</label>
					<input
						type="datetime-local"
						class="form-control"
						name="end_time"
						required
					/>
				</div>
				<div class="form-group">
					<label for="period">Period:</label>
					<select class="form-control" name="period" required>
						<option value="none">No recurrence</option>
						<option value="weekly">Weekly</option>
						<option value="monthly">Monthly</option>
					</select>
				</div>
				<div class="form-group">
					<label for="description">Description:</label>
					<input type="text" class="form-control" name="description" required />
				</div>
				<div class="form-group">
					<label for="location">Location:</label>
					<input type="text" class="form-control" name="location" required />
				</div>
				<div class="form-group">
					<label for="protection">Protection Level:</label>
					<select class="form-control" name="protection" required>
						<option value="public">Public</option>
						<option value="protected">Protected</option>
						<!-- Add more options as needed -->
					</select>
				</div>
				<div class="form-group">
					<label for="assignee">Assignee:</label>
					<input type="text" class="form-control" name="assignee" required />
				</div>
				<button type="submit" class="btn btn-primary">Add Event</button>
			</form>
		</div>
	</div>

	<div class="card mb-4 other-action-card opt-card">
		<div class="card-body">
			<h2 class="card-title">Other Actions</h2>
			<form method="post" action="{% url 'other_action' %}">
				{% csrf_token %}
				<div class="form-group">
					<label for="action">Action:</label>
					<input type="text" class="form-control" name="action" required />
				</div>
				<button type="submit" class="btn btn-primary">Execute Action</button>
			</form>
		</div>
	</div>

	{% if action_result %}
	<div class="alert alert-info">
		<strong>Request:</strong>
		<pre style="white-space: pre-wrap">{{ action_request }}</pre>

		<strong>Response:</strong>
		<pre style="white-space: pre-wrap">{{ action_result }}</pre>
	</div>
	{% endif %}
</div>

<style>
	.toggle-buttons > * {
		margin-left: 2px;
		margin-right: 2px;
	}

	.form-group {
		margin-top: 2px;
		margin-bottom: 4px;
	}
	.opt-card {
		width: 60%;
		margin: auto;
		display: none;
	}
</style>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const showAddScheduleBtn = document.getElementById("showAddSchedule");
		const showAddEventBtn = document.getElementById("showAddEvent");
		const showOtherActionBtn = document.getElementById("showOtherAction");
		const showDeleteEventBtn = document.getElementById("showDeleteEvent");
		const addScheduleCard = document.querySelector(".add-schedule-card");
		const addEventCard = document.querySelector(".add-event-card");
		const otherActionCard = document.querySelector(".other-action-card");
		const deleteEventCard = document.querySelector(".delete-event-card");

		showAddScheduleBtn.addEventListener("click", function () {
			addScheduleCard.style.display = "block";
			addEventCard.style.display = "none";
			otherActionCard.style.display = "none";
			deleteEventCard.style.display = "none";
		});

		showAddEventBtn.addEventListener("click", function () {
			addEventCard.style.display = "block";
			addScheduleCard.style.display = "none";
			otherActionCard.style.display = "none";
			deleteEventCard.style.display = "none";
		});

		showOtherActionBtn.addEventListener("click", function () {
			addEventCard.style.display = "none";
			addScheduleCard.style.display = "none";
			otherActionCard.style.display = "block";
			deleteEventCard.style.display = "none";
		});
		showDeleteEventBtn.addEventListener("click", function () {
			addEventCard.style.display = "none";
			addScheduleCard.style.display = "none";
			otherActionCard.style.display = "none";
			deleteEventCard.style.display = "block";
		});
	});

	document.addEventListener("DOMContentLoaded", function () {
		var socket = new WebSocket("ws://localhost:1423");

		socket.addEventListener("open", function (event) {
			console.log("Connected to WS Server");
		});

		socket.addEventListener("message", function (event) {
			console.log("Message from server: ", event.data);
			handleIncomingMessage(event.data);
		});

		socket.addEventListener("error", function (event) {
			console.error("WebSocket Error: " + event.message);
		});

		socket.addEventListener("close", function (event) {
			console.log("Disconnected from WS Server");
		});
	});

	function handleIncomingMessage(message) {
		try {
			var data = JSON.parse(message);

			if (data.type === "UPDATE" && isRelevantId(data.id)) {
				alert("There are some changes on this view");
				window.location.reload();
			}
		} catch (e) {
			console.error("Error parsing WebSocket message", e);
		}
	}

	function isRelevantId(id) {
		var events = JSON.parse(
			document.getElementById("calendar").getAttribute("data-events")
		);

		return events.some((event) => event.id === id);
	}
</script>

{% endblock content %}
